<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started with WebApi Parameter Binding</h2>
        <p>
            Take a look inside <b>Models.MyJSONParameterBinding.cs</b>, <b>Models.FilterListParameterRule.cs</b> and <b>FilterDefController.cs</b>.
        </p>
        <p>
            WebApi Post Call to FilterDefController via <code>$.ajax</code> is included in this side.
        </p>
        
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(
            function () {

                // Cache Abschalten, da sonst nur der 1. Aufruf funkt
                $.ajaxSetup({
                    // Disable caching of AJAX responses
                    cache: false
                });

                var flt =
                    [
                        {
                            'FTYPE': 1,
                            'FDEF': [99, 200, 300]
                        },

                        {
                            'FTYPE': 2,
                            'FDEF': {
                                'BEGIN': "2022-12-01",
                                'END': "2023-01-31"
                            }
                        }
                    ];

                var strJson = JSON.stringify(flt);

                $.ajax({
                    type: "POST",
                    //dataType: "json",
                    url: "https://localhost:44354/api/FilterDef",
                    data: strJson
                }).done(function (Data, status, req) {

                    // Es hat geklappt
                    console.log(Data.toString());

                }).fail(function (jqXHR, textStatus, errorThrown) {

                    // Leider ein Fehler
                    console.log(jqXHR.status.toString());
                });


            }
        );

    </script>
}
